<template>
  <v-expansion-panels
          class="mb-4"
  >
    <v-expansion-panel>
      <v-expansion-panel-header>Tìm kiếm người dùng</v-expansion-panel-header>
      <v-expansion-panel-content>
        <v-card
                class="ma-0"
                outlined
        >
          <v-list-item class="pa-0" three-line>
            <v-list-item-content class="pa-0">
<!--              <v-list-item-title class="headline mb-2">-->
<!--                Tìm Kiếm Người Dùng-->
<!--              </v-list-item-title>-->
              <v-row>
                <v-col
                        cols="12"
                        sm="4"
                >
                  <v-text-field
                          v-model="filterForm.keyword"
                          placeholder="Họ và tên, Email..."
                          label="Tìm kiếm theo tên hoặc email"
                          clearable
                          @keyup.enter="searchUser"
                  />
                </v-col>
                <v-col
                        cols="12"
                        sm="4"
                >
                  <v-autocomplete
                          v-model="filterForm.departmentId"
                          :items="departments"
                          item-text="name"
                          item-value="id"
                          label="Tìm kiếm theo phòng ban"
                          placeholder="Phòng ban"
                          color="primary"
                          clearable
                  />
                </v-col>
                <v-col
                        cols="12"
                        sm="4"
                >
                  <v-autocomplete
                          v-model="filterForm.position"
                          :items="userPositionOptions"
                          item-text="text"
                          item-value="value"
                          label="Tìm kiếm theo chức danh"
                          placeholder="Chức danh"
                          color="primary"
                          clearable
                  />
                </v-col>
                <!-- <v-col
                        cols="12"
                        sm="3"
                >
                  <v-autocomplete
                          v-model="filterForm.status"
                          :items="contactSourceStatusOptions"
                          item-text="text"
                          item-value="value"
                          label="Tìm kiếm theo trạng thái"
                          placeholder="Trạng thái"
                          color="primary"
                          clearable
                  />
                </v-col> -->
              </v-row>
              <div class="text-center mb-4">
                <v-btn
                        class="primary mx-0"
                        @click="searchUser"
                >
                  <v-icon>mdi-magnify</v-icon>Tìm kiếm
                </v-btn>
              </div>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</template>
<script>
  import RepositoryFactory from '../../../repositories/RepositoryFactory'
  import { userPositionOptions, contactSourceStatusOptions } from '../../../helpers/constants'
  const DepartmentRepository = RepositoryFactory.get('department')
  export default {
    name: 'FilterForm',
    props: {
      filterForm: {
        default: () => ({}),
      },
      departments: {
        default: () => ([]),
      },
    },
    data () {
      return {
        user: {},
        userPositionOptions,
        contactSourceStatusOptions,
      }
    },
    methods: {
      searchUser () {
        Bus.$emit('user-list-filter', this.filterForm)
      },
    },
  }
</script>
