<template>
  <div>
    <v-simple-table class="table-layout pa-5">
      <template v-slot:default>
        <thead>
          <tr>
            <th class="th-id">
              #
            </th>
            <th>Tên đăng nhập</th>
            <th>Họ và tên</th>
            <th>Ảnh đại diện</th>
            <th>Email</th>
            <th>Phòng ban</th>
            <th>Máy lẻ</th>
            <th>Chức danh</th>
            <th>Đăng nhập lần cuối</th>
            <th v-if="showAction">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <template v-for="(user, index) in users">
            <tr
              :key="user.id"
            >
              <td>{{ index + 1 }}</td>
              <td>{{ _.get(user, 'username') }}</td>
              <td>{{ _.get(user, 'fullName')}}</td>
              <td>
                <v-list-item-avatar
                  class="align-self-center"
                  color="grey"
                >
                  <img 
                    v-if="_.get(user, 'avatar.id')"  
                    class="" 
                    :src="_.get(user, 'avatar.filePath', '')" 
                  />
                  <v-img 
                    v-else 
                    class="" 
                    src="@/assets/default-avatar.jpg" 
                  />
                </v-list-item-avatar>
              </td>
              <td>{{ _.get(user, 'email') }}</td>
              <td>{{ _.get(user, 'department.name') }}</td>
              <td>{{ _.get(user, 'ext') }}</td>
              <td>{{ _.get(userPositionOptions.find(position => position.value === user.position), 'text', '') }}</td>
              <td>{{ _.get(user, 'lastLoginAt') }}</td>
              <td v-if="showAction">
                <div class="action">
                    <v-tooltip v-if="user.status ==='inactive'" bottom>
                      <template v-slot:activator="{ on }">
                        <v-icon  @click="convertStatus(user.id,'active')" size="22" color="info" icon v-on="on">mdi-block-helper</v-icon>
                      </template>
                      <span>Chuyển sang trạng thái hoạt động</span>
                    </v-tooltip>
                    <v-tooltip v-else bottom>
                      <template v-slot:activator="{ on }">
                        <v-icon  @click="convertStatus(user.id,'inactive')" size="22" color="success" icon v-on="on">mdi-checkbox-marked-circle</v-icon>
                      </template>
                      <span>Chuyển sang trạng thái ngừng hoạt động</span>
                    </v-tooltip>
                  <v-tooltip bottom v-if="checkAuthorization('user_update')">
                    <template v-slot:activator="{ on }">
                      <v-btn class="mr-2"  @click="editUser(user)" icon small color="primary" dark v-on="on"><v-icon>mdi-pencil</v-icon></v-btn>
                    </template>
                    <span>Cập nhật thông tin người dùng</span>
                  </v-tooltip>
                  <v-tooltip bottom v-if="checkAuthorization('user_update')">
                    <template v-slot:activator="{ on }">
                      <v-btn class="mr-2"  @click="resetPassword(user)" icon small color="info" dark v-on="on"><v-icon>mdi-lock-reset</v-icon></v-btn>
                    </template>
                    <span>Cập nhật mật khẩu người dùng</span>
                  </v-tooltip>
                  <v-tooltip bottom v-if="checkAuthorization('user_delete')">
                    <template v-slot:activator="{ on }">
                      <v-btn @click="onClickDelete(user)" icon small color="default" v-on="on"><v-icon>mdi-delete</v-icon></v-btn>
                    </template>
                    <span>Xóa người dùng</span>
                  </v-tooltip>
                </div>
              </td>
            </tr>
          </template>
        </tbody>
      </template>
    </v-simple-table>
  </div>
</template>
<script>
  import RepositoryFactory from '../../../repositories/RepositoryFactory'
  import { userPositionOptions } from '../../../helpers/constants'
  const UserRepository = RepositoryFactory.get('user')
  export default {
    props: {
      filterForm: {
        type: Object,
        default: () => {},
      },
      users: {
        type: Array,
        default: () => [],
      },
      departments: {
        default: () => ([]),
      },
    },
    data () {
      return {
        selectedUser: {},
        modalAlert: false,
        errorMessage: '',
        userPositionOptions,
      }
    },
    computed: {
      showAction () {
        return this.checkAuthorization('user_update') || this.checkAuthorization('user_delete');
      }
    },
    methods: {
      async convertStatus(id, status) {
        const statusUser = {
          status,
        }
        this.$swal({
          title: 'Chuyển đổi trạng thái',
          text: 'Bạn có thực sự chắc chắn ?',
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Đồng ý',
          cancelButtonText: 'Hủy bỏ',
        }).then(async (result) => {
          if (result.value) {
            const loader = this.$loading.show()
            const response = await UserRepository.updateStatus(id, statusUser)
            loader.hide()
            if (response.success) {
              this.$swal({
                        title: 'Chuyển đổi thành công !',
                        confirmButtonText: 'Đồng ý',
                      },
              ).then(() => {
                Bus.$emit('user-list-reload')
              })
            } else {
              this.$swal({
                type: 'error',
                title: 'Lỗi !',
                text: _.get(response, 'message', ''),
              })
            }
          }
        })
      },
      editUser (user) {
        this.selectedUser = user
        Bus.$emit('user-show-user-form', this.selectedUser)
      },
      resetPassword (user) {
        this.selectedUser = user
        Bus.$emit('reset-password-user', this.selectedUser)
      },
      async onClickDelete (user) {
        this.$swal({
          title: 'Xóa người dùng',
          text: 'Bạn có thực sự muốn xóa ?',
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Đồng ý',
          cancelButtonText: 'Hủy bỏ',
        }).then(async (result) => {
          if (result.value) {
            const loader = this.$loading.show()
            const respond = await UserRepository.delete(user.id)
            loader.hide()
            if (_.get(respond, 'success', false)) {
              this.$swal({
                title: 'Đã xóa thành công !',
                confirmButtonText: 'Đồng ý',
              },
              ).then(() => {
                Bus.$emit('user-list-reload')
              })
            } else {
              this.$swal({
                type: 'error',
                title: 'Lỗi !',
                text: _.get(respond, 'message', ''),
              })
            }
          }
        })
      },
    },
  }
</script>
