<template>
  <v-app-bar
    id="app-bar"
    absolute
    app
    color="transparent"
    flat
    height="45"
  >
    <v-icon class="mobile-show mr-3 no-outline" size="24">mdi-menu</v-icon>
    <v-icon class="mobile-show mr-3 no-outline" size="24" @click="returnHome()">mdi-home</v-icon>

    <common-breadcrumb class="font-weight-light mobile-hidden" :breadcrumb="_.get($route, 'meta.breadcrumb', [])" />
    <v-spacer />
    <v-menu
      bottom
      left
      min-width="200"
      offset-y
      origin="top right"
      transition="scale-transition"
    >
      <template v-slot:activator="{ attrs, on }">
        <v-btn
          class="ml-2"
          min-width="0"
          text
          v-bind="attrs"
          v-on="on"
        >
          <v-icon class="appbar-icon">mdi-account</v-icon>
        </v-btn>
      </template>

      <v-list
        :tile="false"
        flat
        nav
      >
        <app-bar-item
          to="/profile"
        >
          <v-list-item-title v-text="'My profile'" />
        </app-bar-item>
        <v-divider
          class="mb-2 mt-2"
        />
        <a class="d-block btn-logout" @click="logout">
          Logout
        </a>
      </v-list>
    </v-menu>
    <video id="my-video" autoplay style="display: none;" src="https://web1.caresoft.vn/images/320x240.ogg"></video>
    <video id="peer-video" autoplay style="display: none;" src="https://web1.caresoft.vn/images/320x240.ogg"></video>
  </v-app-bar>
</template>

<script>
  // Components
  import { VHover, VListItem } from 'vuetify/lib'
  import * as moment from 'moment'
  import handleSchedule from '@/mixins/handleSchedule'
  // Utilities
  import { mapState, mapMutations } from 'vuex'
  import TokenService from '../../helpers/token'
  import { downloadFile } from '../../helpers/utils';

  const PAGE_LIMIT = 10

  export default {
    name: 'DashboardCoreAppBar',
    mixins: [handleSchedule],
    components: {
      AppBarItem: {
        render (h) {
          return h(VHover, {
            scopedSlots: {
              default: ({ hover }) => {
                return h(VListItem, {
                  attrs: this.$attrs,
                  class: {
                    'black--text': !hover,
                    'white--text primary elevation-12': hover,
                  },
                  props: {
                    activeClass: '',
                    dark: hover,
                    link: true,
                    ...this.$attrs,
                  },
                }, this.$slots.default)
              },
            },
          })
        },
      },
    },

    props: {
      value: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      dataAppointment: {},
      showConfirm: false,
      appointmentIds: [],
      profile: [
        { title: 'Profile' },
        { divider: true },
        { title: 'Log out' },
      ],
      totalItem: 0,
      appointments: [],
      hideNotifications: [],
      notificationPosition: [],
      remindContact: [],
      announcements: [],
      marqueeWidth: "60%"
    }),

    computed: {
      ...mapState(['drawer']),
    },

    created () {
    },

    beforeDestroy () {

    },

    methods: {
      ...mapMutations({
        setDrawer: 'SET_DRAWER',
      }),
      closeModalCall() {
        this.showModal = false
        this.mobile = ''
        this.appointmentId = 0
      },
      logout () {
        TokenService.removeRefreshToken()
        TokenService.removeToken()
        TokenService.removeUser()
        TokenService.removePermissions()
        this.$router.push('/login')
      },
      goToPage (item) {
        if (!_.get(item, 'link', '')) {
          return
        }
        this.$router.push({
          name: _.get(item, 'link', ''),
        })
      },
      resetCount () {
        this.countNews = 0
      },
      returnHome() {
        if (this.checkAuthorization('dashboard_read')) {
          this.$router.push('/dashboard')
        } else {
          this.$router.push('contact/contact-list')
        }
      },
    },
  }
</script>
<style lang="scss" scoped>
  .notification-has-0 {
    .v-badge__badge {
      display: none;
    }
  }
  .notification-has-1 {
    .v-badge__badge {
      display: inline-block;
    }
  }
  .padding-10 {
    padding: 10px;
  }
  .v-messages__message {
    color: #ff5252 !important;
    caret-color: #ff5252 !important;
  }
  .appbar-icon {
    font-size: 22px !important;
  }
  .theme--dark {
    .v-list-item__title {
      .notification {
        .notification-info {
          background-color: #e91e63;
          .notification-item {
            .v-icon {
              color: white;
            }
          }
        }
      }
    }
  }
  .notification-info {
    background-color: #f1f1f1; 
    padding: 5px 10px;
    .notification-item {
      .v-icon {
        color: #a847bf;
      }
    }
  }
  .notification-header {
    padding: 5px 15px;
    color: #a847bf;
  }
  .no-outline:focus {
    outline: unset;
  }
  .hiden-person-result {
    display: none;
  }
  .announcement-container {
    display: flex;
    background-color: white;
    padding: 0px 10px;
    border-radius: 15px;
    marquee {
      font-size: 16px;
      font-weight: 400;
      .announcement-text {
        color: black;
        text-decoration: unset;
      }
      .announcement-text.has-link {
        cursor: pointer;
      }
      .announcement-text.has-link:hover {
        color: blue;
        text-decoration: underline;
        text-underline-position: below;
      }
    }
  }
</style>
