<template>
  <v-navigation-drawer
    id="core-navigation-drawer"
    v-model="drawer"
    :dark="barColor !== 'rgba(228, 226, 226, 1), rgba(255, 255, 255, 0.7)'"
    :expand-on-hover="expandOnHover"
    :src="barImage"
    mobile-break-point="960"
    app
    mini-variant-width="80"
    width="260"
    v-bind="$attrs"
  >
    <template v-slot:img="props">
      <v-img :gradient="`to bottom, ${barColor}`" v-bind="props" />
    </template>

    <v-list-item two-line>
      <v-list-item-content>
        <v-list-item-title class="text-uppercase font-weight-regular display-2">
          <span class="logo-mini">VH</span>
          <span class="logo-normal">CRM</span>
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>

    <v-divider class="mb-1" />

    <v-list dense nav>
      <base-item class="item-sidebar" :item="profile" />
    </v-list>

    <v-divider class="mb-2" />

    <v-list expand nav>
      <!-- Style cascading bug  -->
      <!-- https://github.com/vuetifyjs/vuetify/pull/8574 -->
      <div />

      <template v-for="(item, i) in computedItems">
        <!-- -->
        <template v-if="showInSidebar(item.roles)">
          <base-item-group class="item-sidebar" v-if="item.children" :key="`group-${i}`" :item="item">
            <!--  -->
          </base-item-group>

          <base-item v-else :key="`item-${i}`" :item="item" />
        </template>
      </template>

      <!-- Style cascading bug  -->
      <!-- https://github.com/vuetifyjs/vuetify/pull/8574 -->
      <div />
    </v-list>
  </v-navigation-drawer>
</template>

<script>
const roleUsers = [
  'user_read',
  'user_create',
  'user_update',
  'user_delete',
  'user_view_all'
];

const roleDataSetting = [
  'role_read',
  'role_create',
  'role_update',
  'role_delete'
];


// Utilities
import { mapState } from 'vuex';
import TokenService from '../../helpers/token';
export default {
  name: 'DashboardCoreDrawer',
  data: () => ({
    items: [
      {
        group: '/users',
        icon: 'mdi-account',
        title: 'Quản lý người dùng',
        roles: roleUsers,
        children: [
          {
            title: 'Người dùng',
            to: 'user-list',
            roles: ['user_read', 'user_create', 'user_update', 'user_delete', 'user_view_all']
          }
        ]
      },
      {
        group: '/data-setting',
        icon: 'mdi-server',
        title: 'Cài đặt dữ liệu',
        roles: roleDataSetting,
        children: [
          {
            title: 'Nhóm quyền',
            to: 'role',
            roles: ['role_read', 'role_create', 'role_update', 'role_delete']
          }
        ]
      }
    ],
    expandOnHover: true
  }),

  created() {
  },

  computed: {
    ...mapState(['barColor', 'barImage']),
    drawer: {
      get() {
        return this.$store.state.drawer;
      },
      set(val) {
        this.$store.commit('SET_DRAWER', val);
      }
    },
    computedItems() {
      return this.items.map(this.mapItem);
    },
    profile() {
      return {
        avatar: true,
        avatarPath: TokenService.getAvatarPath(),
        group: '',
        title: TokenService.getFullName(),
      };
    }
  },

  // watch: {
  //   '$vuetify.breakpoint.smAndDown'(val) {
  //     this.$emit('update:expandOnHover', !val);
  //   }
  // },

  methods: {
    mapItem(item) {
      return {
        ...item,
        children: item.children ? item.children.map(this.mapItem) : undefined,
        title: item.title
      };
    }
  }
};
</script>

<style lang="sass">
  @import '~vuetify/src/styles/tools/_rtl.sass'

  #core-navigation-drawer
    &.v-navigation-drawer--mini-variant
      .v-list-item
        justify-content: flex-start !important

      .v-list-group--sub-group
        display: block !important

      .v-navigation-drawer__content
        overflow-y: hidden

    &.v-navigation-drawer--is-mouseover
      .v-navigation-drawer__content
        overflow-y: auto

    .v-list-group__header.v-list-item--active:before
      opacity: .24

    .v-list-item
      &__icon--text,
      &__icon:first-child
        justify-content: center
        text-align: center
        width: 20px

        +ltr()
          margin-right: 24px
          margin-left: 12px !important

        +rtl()
          margin-left: 24px
          margin-right: 12px !important

    .v-list--dense
      .v-list-item
        &__icon--text,
        &__icon:first-child
          margin-top: 10px

    .v-list-group--sub-group
      .v-list-item
        +ltr()
          padding-left: 8px

        +rtl()
          padding-right: 8px

      .v-list-group__header
        +ltr()
          padding-right: 0

        +rtl()
          padding-right: 0

        .v-list-item__icon--text
          margin-top: 19px
          order: 0

        .v-list-group__header__prepend-icon
          order: 2

          +ltr()
            margin-right: 8px

          +rtl()
            margin-left: 8px
</style>
