<!--

=========================================================
* Vue Material Dashboard PRO - v1.3.2
=========================================================

* Product Page: https://www.creative-tim.com/product/vue-material-dashboard-pro
* Copyright 2019 Creative Tim (https://www.creative-tim.com)

* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>logo.png">
    <title>VH - CRM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1">

    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <script type="text/javascript">
        var socket;
    </script>
    <script src="https://capi.caresoft.vn/js/embed/jquery.min.js" type="text/javascript"></script> 
    <script src="https://capi.caresoft.vn/js/embed/jquery.min.js" type="text/javascript"></script>    
    <script src="https://capi.caresoft.vn/js/embed/jssip-3.2.10.js" type="text/javascript"></script>
    <script src="https://capi.caresoft.vn/js/embed/init-3.0.7.js" type="text/javascript"></script>
    <script src="https://capi.caresoft.vn/js/embed/web.push.js" type="text/javascript"></script>
    <script src="https://capi.caresoft.vn/js/embed/cs_const.js" type="text/javascript"></script>
    <script src="https://capi.caresoft.vn/js/embed/cs_voice.js" type="text/javascript"></script>

    <script type="text/javascript" src="/js/custom.js"></script> 
  </head>
  <body>
  <noscript>
    <strong>We're sorry but material-pro doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
  </body>
</html>
