.v-data-table td
  font-weight: 300
  padding: 12px 8px

.v-data-table table thead tr th
  font-weight: 300
  font-size: 17px
  padding: 0px 8px

.v-data-table table tbody tr td .v-btn
  margin-right: 0px !important

.v-data-table .v-data-table-header__sort-badge
  font-size: 10px

.v-data-table.theme--dark
  tr th
    color: #fff !important

.theme--light
  .v-data-table table thead tr th
    color: #333

.table-layout
  text-align: center
  th
    text-align: center !important
    min-width: 130px
    font-size: $font-size-root
    font-weight: 500 !important
    position: relative
    &.th-id
      width: 50px
.table-layout tbody tr
  height: 80px
  &:hover
    background: rgba(0, 0, 0, 0.11) !important
.table-contact
  tbody tr
    height: 50px
  table
    border: 1px solid #d2d2d2
    .bg-hover:hover
      .child-table
        td:last-child
          background: #e0e0e0
      tr
        .scroll-layout-left
          background: #e0e0e0
  thead
    tr
      height: 35px
    th
      border-right: 1px solid #d2d2d2
      font-size: $font-size-root - 2 !important
      &:last-child
        border-right: 0
    .th-id
      min-width: 50px
  .child-table
    td:last-child
      border-right: 1px solid #d2d2d2
  //.bg-hover:last-child
  //  tr
  //    td
  //      border-bottom: 0 !important
  //  &:hover
  //    td
  //      border-bottom: 0 !important
  .child-table:hover
    background: rgba(0, 0, 0, 0.11) !important
  td
    position: relative
    border-right: 1px solid #d2d2d2
    font-size: $font-size-root - 2 !important
    color: #000000
    &:last-child
      border-right: 0
  .table-layout-checkbox
    position: relative
    .v-input--selection-controls__input
      position: absolute
      top: 50%
      left: 0
      right: 0
      margin: 0 auto

.table-filter-contact
  th
    border-right: 1px solid #d2d2d2
    height: 30px
    &:last-child
      border-right: 0
    td
      position: relative
      border-right: 1px solid #d2d2d2
      &:last-child
        border-right: 0
  td
    padding-top: 0
    padding-bottom: 0
    height: 30px
  thead tr
    height: 30px
    th
      font-size: $font-size-root - 2 !important
      color: #000000
      min-width: 65px !important
  tbody
    tr
      height: 30px
/* Table Border */

.v-data-table
  &.border-table
    table
      thead, tbody
        th, td
          &:not(:last-child)
            border-right: thin solid rgba(0, 0, 0, 0.12)

.table-secondary
  td, th
    border: 1px solid #ccc
    border-bottom: 0
    border-left: 0
  tr
    td:first-child, th:first-child
      border-left: 1px solid #ccc
  tr:last-child
    td
      border-bottom: 1px solid #ccc
.border-table
  border: thin solid rgba(0, 0, 0, 0.12)
// table fixed
.table-fixed
  table
    border: 0
    .child-table
      td:first-child
        border-left: 0 !important
      td:last-child
        position: relative !important
        border-left: 0 !important
      td:nth-last-child(2)
        border-right: 1px solid #d2d2d2 !important

  .v-data-table__wrapper
    overflow: inherit !important
    thead
      tr:last-child th
        border-bottom: thin solid rgba(0, 0, 0, 0.12)
      th
        position: sticky
        z-index: 3
        background: #ffffff
        top: 0px
        border-top: 1px solid #d2d2d2
        &:first-child
          border-left: 1px solid #d2d2d2
        &:last-child
          // right: 0
          border-right: 1px solid #d2d2d2
          border-left: 1px solid #d2d2d2
        &:nth-last-child(2)
          border-right: 0
        &.scroll-layout-left
          position: sticky
          background: #fff
          border-left: 1px solid #d2d2d2
          z-index: 4
          &.th_mobile
            min-width: 150px
    tbody
      height: auto
      td
        border-bottom: 1px solid #d2d2d2 !important
        padding-top: 0
        padding-bottom: 0
        &:first-child
          border-left: 1px solid #d2d2d2
        &.scroll-layout
          position: sticky
          right: 0
          background: #fff
          border-right: 1px solid #d2d2d2
          border-left: 1px solid #d2d2d2
          z-index: 1
        &.scroll-layout-left
          position: sticky
          background: #fff
          border-left: 1px solid #d2d2d2 !important
          z-index: 1
        &:nth-last-child(2)
          border-right: 0
        &:last-child
          border-right: 1px solid #d2d2d2
          border-left: 1px solid #d2d2d2
@media screen and (max-width: 1300px)
.border-bottom-table
  position: absolute
  width: 100%
  height: 1px
  border-bottom: 1px solid #d2d2d2
  bottom: -1px
  left: 0