.v-content__wrap
  .container--fluid
    padding-left: 15px
    padding-right: 15px

.v-application .headline
  font-size: 25px !important
  padding-bottom: 0

.v-application .black--text
  color: #333 !important

.v-application .small
  font-weight: 300
  line-height: 2rem
  small
    font-weight: 400

@media( max-width: 960px )
  .v-content__wrap
    .container--fluid
      padding-left: 15px
      padding-right: 15px

.upload-image
  position: relative
  max-width: 220px
  width: 100%
  height: 100%
  max-height: 220px
  margin: auto
  display: flex
  margin-top: 25px
  &_v-input
    position: absolute
    width: 100%
    top: 0
    height: 100%
    margin: 0
    padding: 0
    .v-input__prepend-outer, .v-input__append-inner
      display: none
  .v-input__control
    height: 100%
    position: relative
    .v-input__slot
      opacity: 0
    .v-file-input__text
      height: 220px
      cursor: pointer
    .v-text-field__details
      position: absolute
      border: 0
      top: calc(100% + 5px)

.style-datePicker
  position: relative
  display: flex
  flex-direction: column
  .style-datePicker_title
    font-size: $font-size-root - 3
    text-align: left
  .mx-input-wrapper
    input::placeholder
      opacity: .5
  .mx-datepicker
    width: 100%
    position: relative
    &:before
      content: ''
      position: absolute
      width: 100%
      height: 2px
      left: 0
      bottom: 0px
      z-index: 9
      -webkit-transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1)
      transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1)
      transform: scaleX(0)
  .mx-input
    border-top: 0 !important
    border-left: none
    border-right: none
    border-radius: 0
    height: auto
    margin-top: -2px
    padding-left: 2px
    background-color: transparent
    box-shadow: none
    &:hover,&:focus
      border-color: #ccc
  &.active
    .style-datePicker_title
      -webkit-transform: translateY(0px) translateX(-35px) scale(0.75)
      transform: translateY(0px) translateX(-35px) scale(0.75)
      -webkit-transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1)
      transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1)
    .mx-datepicker
      &:before
        -webkit-transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1)
        transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1)
        transform: scaleX(1)
        background-color: #e91e63

.group-input
  position: relative
  ul
    list-style: none
    padding: 0 !important
    .list-input
      position: relative
    .group-input-close
      position: absolute
      right: -20px
      top: 15px
  .group-input-add
    position: absolute
    top: 5px
    right: 0
    &.m--icon-add
      position: relative
      top: 0
.w-100
  width: 100%
.bg-transparent
  background: transparent !important

ul
  padding: 0 !important
  li
    list-style: none

.totalHour
  li
    display: inline-block
    min-width: 120px
    margin-right: 10px
    &:last-child
      margin-right: 0
    label
      margin-right: 5px

.notification
  border-bottom: 1px solid #d9d9d9
  padding-bottom: 10px
  margin-right: 15px
  position: relative
  .notification-item
    display: inline-block
    span
      padding: 0px 5px
    &.notification-item--des
      display: block
    .icon-call
      position: relative
      z-index: 9
  .notification-action
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 8

.notification-header
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0px 23px

.notification-height
  overflow: hidden

// call phone
.btn-voice-call
  span
    font-size: $font-size-root - 3 !important

.v-chip--no-color
  background: transparent !important

@media( min-width: 768px )
  .group
    position: relative
    .group-btn
      position: absolute
      top: -70px
      right: 0

.s-datepicker-range
  display: flex
  flex-direction: column
  position: relative
  label
    position: absolute
    top: -14px
    font-size: 11px
  .daterangepicker
    td
      &:hover, &.active, &.active:hover
        color: #fff
        background: $bg-primary
    .ranges
      li
        &:focus
          outline: none
        &.active
          background: $bg-primary
    .yearselect
      min-width: 100px
      padding-left: 0
    select.monthselect
      margin-right: 5px
      width: auto
      min-width: 40px
  .vue-daterange-picker .reportrange-text
    border-top: 0px
    border-right: 0px
    border-left: 0px
    padding: 2px 10px 2px 0px
    height: 25px
    position: relative
    >div:first-child
      height: 100%
  .cancelBtn
    color: $bg-primary
  .applyBtn
    color: $bg-secondary

.best-employees
  .best-employees-index
    border: 1px solid #333
    width: 30px
    text-align: center
    line-height: 30px
    height: 30px
    border-radius: 50%
    &.index--1
      background: #B00020
      border: 1px solid #B00020
      color: #ffffff
    &.index--2
      background: darkblue
      border: 1px solid darkblue
      color: #ffffff
    &.index--3
      background: #fb8c00
      border: 1px solid #fb8c00
      color: #ffffff
.init-revenue, .success-revenue, .latch-ratios
  height: 100%
  &.v-card--outlined
    border: 1px solid #333 !important
.init-revenue
  .best-employees-header
    background: #00cae3
.success-revenue
  .best-employees-header
    background: #4caf50
.latch-ratios
  .best-employees-header
    background: #F44336
@media (min-width: 768px)
  .header-group-btn
    position: absolute
    top: -53px
    right: 0
    &.header-group-btn--modify
      top: 20px
.bg-hover:hover
  td
    background: #e0e0e0
.no-contain
  contain: inherit !important
.btn-style-all
  .v-chip
    margin: 0 !important
    padding: 0px 5px
    .v-icon--right
      margin-left: 2px
  .v-select__selections
    min-height: 32px !important
    max-height: 60px
    overflow: auto

.chartist-tooltip
  position: absolute
  background: rgba(0,0,0,0.6)
  color: white
  padding: 0px 10px
  border-radius: 5px
  display: flex
  .chartist-tooltip-meta
    margin-right: 5px
    white-space: nowrap
.chart-title
  &.chart-title--bar
    position: absolute
    top: 12px
    left: 16px
    z-index: 9
.chartist-tooltip
  z-index: 1
svg:not(:root)
  overflow: visible !important
body.swal2-shown
  padding-right: 0 !important
.item-sidebar
  .v-list-item__icon:first-child
    margin-right: 15px !important
  .v-list-item__icon:last-child
    min-width: 10px !important
    margin-left: 10px !important
.v-list--dense
  .v-list-item .v-list-item__title
    line-height: inherit
.staff-profile
  display: flex
  align-items: center
  border-right: 1px solid #d2d2d2
  .image-profile
    max-width: 220px
    max-height: 220px
    .v-image__image
      border-radius: 50%
.border-left-none
  border-left: 0 !important
.border-right-none
  border-right: 0 !important
.group-btn--form
  display: flex
  align-items: center
  max-width: 250px
  margin: 0 auto
.v-navigation-drawer--fixed
  z-index: 1000 !important
// modal quick view
.quick-view
  .border-right
    position: relative
    @media screen and (min-width: 992px)
      &:after
        content: ''
        top: 0
        right: 0
        position: absolute
        width: 1px
        height: 100%
        background: #d2d2d2
  span
    font-size: $font-size-root - 2 !important
  .v-label
    font-weight: 500
    font-size: $font-size-root - 1 !important
  input
    font-size: $font-size-root - 2 !important
    color: rgba(0, 0, 0, 0.87) !important
  table
    th
      font-size: $font-size-root - 2 !important
    td
      font-size: $font-size-root - 2
    tbody tr
      height: 50px
.theme--light.v-card.v-card--outlined
  border: 0
.v-expansion-panel::before
  box-shadow: none


// contact table
.contact-table
  overflow: scroll
  background: #fff
// Tooltip 
.chartist-tooltip
  visibility: hidden
  &.tooltip-show 
    visibility: visible
[disabled]
  font-size: $font-size-root
.upload-image--user
  position: relative
  .v-image__image
    border-radius: 50%
  .delete-img
    position: absolute
    right: 0
    top: 0
    z-index: 1
.selectAll-group-product
  .v-select__selections
    height: 32px
    overflow: hidden
.audio-play
  &:focus
    outline: none

.i-cursor
  input
    cursor: pointer
.customer-name-readonly
  input
    color: #1E90FF !important
.customer-phone-readonly
  input
    color: #1E90FF !important

.chart-fix
  margin-bottom: 40px!important
  .ct-label.ct-label.ct-horizontal.ct-end
    position: relative
    justify-content: flex-end
    text-align: right
    transform-origin: 100% 0
    transform: translate(-100%) rotate(-45deg)
    white-space: nowrap
    width: 75px!important
.s-index--swal
  z-index: 1 !important
.s-popup-call
  position: absolute
  right: 25px
  span,strong,label
    font-size: $font-size-root - 1
.s-popup-notification
  position: absolute
  left: 15px
  span,strong,label
    font-size: $font-size-root - 1
.icon-flipped 
  transform: scaleX(-1)
  -moz-transform: scaleX(-1)
  -webkit-transform: scaleX(-1)
  -ms-transform: scaleX(-1)
.s-popup-incoming
  position: absolute
  right: 25px
  span,strong,label
    font-size: $font-size-root - 1

// style table order detail
.s-layout-small
  input, .v-label
    font-size: $font-size-root - 1 !important
  .v-card__title
    font-size: $font-size-root + 2 !important
  .v-input__slot
    margin-bottom: 5px !important
  .table-small-screen
    th
      font-size: $font-size-root - 1 !important
    tr
      height: 50px
  .table-info
    strong,p
      font-size: $font-size-root - 1 !important
  .v-data-table__wrapper
    overflow: inherit
    td
      padding: 0px 8px !important
  .border-table-order
    position: absolute
    width: 100%
    height: 1px
    border-top: 1px solid #d9d9d9
    top: -1px
    left: 0
#app-bar
  z-index: 99 !important

.v-list-item.main-mobile 
  min-height: 25px
  margin: 0px 10px
  padding: 0px 5px
  border: 1px solid #4caf50
  border-radius: 5px

.v-list-item.main-mobile .v-list-item__title
  color: #4caf50

.v-list-item.sub-mobile 
  min-height: 25px
  margin: 5px 10px 0px
  padding: 0px 5px
  border: 1px solid #999
  border-radius: 5px

.mobile-show
  display: none !important

.create-support-btn
  width: 200px
  font-size: 16px !important
  margin: auto !important

@media screen and (max-width: 480px) 
  .mobile-hidden
    display: none !important
  .mobile-show
    display: inherit !important
  .create-support-btn
    width: 100%

@media screen and (orientation:landscape) and (max-height: 480px)
  .mobile-hidden
    display: none !important
  .mobile-show
    display: inherit !important
  .create-support-btn
    width: 100%

.icon-pointer
  cursor: pointer